@import "tailwindcss";

:root {

  --color-tan-light: #242424;
  --color-tan-dark: #2c2b2b;
  --color-cream: #ede7dd;
  --color-blue: #6e93a8;
  --color-wood-light: #d9a15b;
  --color-wood-dark: #8c4a32;
  --color-orange: #e2734d;
  --color-orange-light: #ea9066;
  --color-green-light: #6e9b7c;
  --color-green-dark: #33503e;
  --color-gray: #9c9895;
}

@theme inline {
  --color-tan-light: var(--color-tan-light);
  --color-tan-dark: var(--color-tan-dark);
  --color-cream: var(--color-cream);
  --color-blue: var(--color-blue);
  --color-wood-light: var(--color-wood-light);
  --color-wood-dark: var(--color-wood-dark);
  --color-orange: var(--color-orange);
  --color-orange-light: var(--color-orange-light);
  --color-green-light: var(--color-green-light);
  --color-green-dark: var(--color-green-dark);
  --color-gray: var(--color-gray);

  --font-sans: var(--font-fredoka);
  --font-display: var(--font-dushick);
}

body {
  background: var(--color-tan-light);
  color: var(--color-cream);
}
